<div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About this page</h2>
        <p class="lead">This is a sample angular website. This page is developed using Component,Routing and some other angular concepts.
            To pass data between Components we have used Input binding. Click on below links to nvaigate to other screens.</p>
        <ul>
          <li><a [routerLink]="['/Users']">Users</a></li>
          <li><a [routerLink]="['/Roles']">Todos</a></li>
        </ul>
      </div>
    </div>
  </div>